{% extends './html/base.html' %}

{% block stylesheet %}
<link rel="stylesheet" href="./static/login.css">
{% endblock %}

{% block title %}
Iniciar Sesión - WORDS.inc
{% endblock %}

{% block main_content %}
<div>
  <h1>INICIAR SESIÓN</h1>
</div>
<form id="formLogin" action="url_for('verificarUsuario')" method="POST">
  <input type="text" id="nombre" name="nombre" placeholder="USUARIO:" required><br>
  <input type="password" id="contraseña" name="contraseña" 
placeholder="CONTRASEÑA:" required><br>
  <input type="button" id="ingresar" onclick="verificarLogin()" value="INGRESAR">
</form>
<hr>
<p>¿No tienes una cuenta? <a href="{{url_for('registrarUsuario')}}">Registrate Aquí</a></p>
{% endblock %}

{% block script %}
<script src="./static/javascript/cuentas.js"></script>
{% endblock %}