body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #471515;
  border: 2px solid white;
  position: fixed;
  top: 0%;
  width: 101vw;
  height: 4vh;
  min-height: 30px;
  margin-top: -2.1px;
  margin-left: calc(-23vw - 11px);
  padding-right: 5px;
  padding-left: calc(1vw - 6px);
}

.salir {
  font-family: 'League Gothic', 'sans-serif';
  background: none;
  border: none;
  color: white;
  font-size: 3vh;
}

.salir:hover {
  transform: scale(1.05);
}

.contenedor{
  text-align: center;
  background-color: #471515;
  border: 2px solid white;
  border-radius: 10px;
  height: 50vh;
  width: 50vw;
  padding: 2vw;
}

p  {
  font-family: 'League Gothic', 'sans-serif';
  color: white;
  font-size: 3vh;
} 

a {
  font-family: 'League Gothic', 'sans-serif';
  text-decoration: none;
  color: #5656d2;
  font-size: 3vh; 
}

.boton{
  font-family: 'League Gothic', 'sans-serif';
  font-size: calc(2vw + calc(2vh * 0.5));
  border: 1px solid #dfbb3a;
  border-radius: 1vw;
  background-color: #dfbb3a;
  color: #7b1e1e;
  text-shadow: -1px 0 0.1vh #7b1e1e, 0 1px 0.1vh #7b1e1e, 1px 0 0.1vh #7b1e1e, 0 -1px 0.1vh #7b1e1e;
  padding: 1vw;
  transition: 0.3s;
}

.boton:hover {
  transform: scale(1.05);
}