@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');

h1{
  margin-top: 80px;
  font-family: 'Libre Franklin', 'sans-serif';
  color: #dfbb3a; 
  font-size: 200px;
  text-shadow: -4px 3px 3px red;
  text-align: center;
  margin-bottom: 175px;
}

form{
  display: flex;
  justify-content: center;
}

.inicioSesion{
  font-family: 'League Gothic', 'sans-serif';
  font-size: 60px;
  border: 1px solid #dfbb3a;
  border-radius: 17px;
  background-color: #dfbb3a;
  color: #7b1e1e;
  padding: 12px;
  transition: 0.3s;
}

.inicioSesion:hover{
  transform: scale(1.05);
}
